
# Created by https://www.gitignore.io/api/react,visualstudiocode
# Edit at https://www.gitignore.io/?templates=react,visualstudiocode

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### VisualStudioCode ###
.vscode
.cache

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

dist/*
!dist/.keep

# End of https://www.gitignore.io/api/react,visualstudiocode