/*********************
 *
 * Grid Cell
 *
 *********************/

.cell {
  overflow: hidden;
  position: relative;
}

.cell .label {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  z-index: 3;

  padding: 0.25em;
  background-color: white;
  border-radius: var(--border-radius);
  font-size: 0.75em;
  opacity: 0.15;
  color: var(--color-dark);
}
