@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/monokai.css";
@import "codemirror/addon/scroll/simplescrollbars.css";
@import "codemirror/addon/hint/show-hint.css";

:root {
  --font-family: "Source Code Pro", monospace;
  --grid-resizer-size: 10px;
  --header-height: 32px;
  --color-dark: #272822;
  --color-light: floralwhite;
  --color-toolbar: #4a4a4a;
  --border-radius: 2px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  font-family: var(--font-family);
  background-color: var(--color-dark);
  color: var(--color-light);
}

button {
  cursor: pointer;
}

/* Header */

header {
  height: var(--header-height);
  background-color: var(--color-toolbar);

  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header h1 {
  font-size: 1rem;
  color: white;
  font-weight: normal;
  color: deeppink;
}
header h1 span {
  color: white;
}
header nav {
  align-self: flex-end;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-flow: row no-wrap;
  margin: 0;
  padding-left: 0;
}

header nav ul > li {
  color: white;
  font-size: 0.85em;
}

header nav ul > li + li {
  margin-left: 1.5em;
}

header nav button {
  border: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

header nav a {
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
}

/* Modal */

.modal {
  position: fixed;
  z-index: 500;
  background-color: var(--color-toolbar);
  width: 70%;
  border-radius: var(--border-radius);
  padding: 1rem;
  left: 15%;
  top: 30%;
  box-sizing: border-box;

  display: flex;
  flex-flow: column wrap;

  animation: hideModal 0.3s;
}

@media (min-width: 600px) {
  .modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}

.modal.show {
  animation: showModal 0.3s;
}

@keyframes showModal {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hideModal {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.modal .header {
  display: flex;
  justify-content: flex-end;
}

.modal .header .close {
  font-size: 1em;
  background-color: transparent;
  border: none;
  color: inherit;
}

.modal .header .close .icon {
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;
}

.modal .header .close .with-icon {
  display: inline-flex;
  align-items: baseline;
}

.modal .header .close .with-icon .icon {
  margin-inline-end: 0.5em;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

h2 {
  margin-top: 0;
}

dt {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
}

dd {
  margin: 0;
  display: inline;
}

dd::after {
  content: "\a";
  white-space: pre;
}

kbd {
  display: inline-flex;
  margin-right: 0.5em;
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 0.25em 0.5em;
  border-radius: var(--border-radius);
}

/* Grid */

.grid-container {
  display: grid;
  grid-gap: 0;
  gap: 0;
}

.main-grid {
  grid-template-columns: 1fr var(--grid-resizer-size) 1fr;
  grid-template-areas: "editorArea resizer1 previewArea";

  height: calc(100vh - var(--header-height));
  width: 100vw;
}

.editor-grid {
  grid-template-rows:
    1fr var(--grid-resizer-size) 1fr var(--grid-resizer-size)
    1fr;
  grid-template-areas:
    "htmlEditor"
    "resizer2"
    "cssEditor"
    "resizer3"
    "jsEditor";

  height: 100%;
}

.cell {
  overflow: hidden;
  position: relative;
}

.cell .label {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  z-index: 3;

  padding: 0.25em;
  background-color: white;
  border-radius: var(--border-radius);
  font-size: 0.75em;
  opacity: 0.15;
  color: var(--color-dark);
}

#editorArea {
  grid-area: editorArea;
}

#htmlEditor {
  grid-area: htmlEditor;
}

#cssEditor {
  grid-area: cssEditor;
}

#javascriptEditor {
  grid-area: jsEditor;
}

#previewArea {
  grid-area: previewArea;
}
*/

/* Resizer */

#resizer1 {
  grid-area: resizer1;
}
#resizer2 {
  grid-area: resizer2;
}
#resizer3 {
  grid-area: resizer3;
}

.resizer {
  background-color: var(--color-toolbar);
  position: relative;
}

.resizer.horizontal {
  width: 100%;
  height: var(--grid-resizer-size);
  cursor: row-resize;
}
.resizer.vertical {
  height: 100%;
  width: var(--grid-resizer-size);
  cursor: col-resize;
}

.resizer.vertical::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: calc(-1px * var(--grid-resizer-size) / 4);
  width: var(--grid-resizer-size);
}

.resizer.vertical::after {
  content: "";
  display: flex;
  background: rgb(255, 255, 255, 0.25) none repeat scroll 0% 0%;
  border-radius: 50px;
  position: absolute;
  width: calc(var(--grid-resizer-size) / 4);
  height: calc(var(--grid-resizer-size) * 3);
  top: calc(50% - calc(var(--grid-resizer-size) * 1.5));
  margin-left: calc(var(--grid-resizer-size) / 2.66666666667);
  opacity: 1;
}

.resizer.horizontal::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-top: calc(-1px * var(--grid-resizer-size) / 4);
  height: var(--grid-resizer-size);
}

.resizer.horizontal::after {
  content: "";
  display: flex;
  background: rgb(255, 255, 255, 0.25) none repeat scroll 0% 0%;
  border-radius: 50px;
  position: absolute;
  height: calc(var(--grid-resizer-size) / 4);
  width: calc(var(--grid-resizer-size) * 3);
  left: calc(50% - calc(var(--grid-resizer-size) * 1.5));
  margin-top: calc(var(--grid-resizer-size) / 2.66666666667);
  opacity: 1;
}

/* Editor area */

.react-codemirror2 {
  height: 100%;
}

/* Preview area */

iframe {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  color: black;
}

/* Codemirror overrides */

.cm-s-monokai.CodeMirror {
  font-family: var(--font-family);
}

.CodeMirror {
  height: 100%;
  font-size: 0.875rem;
}

.CodeMirror-simplescroll-vertical {
  width: 10px;
}

.CodeMirror-simplescroll-horizontal,
.CodeMirror-simplescroll-vertical {
  background-color: transparent;
}

.CodeMirror-simplescroll-horizontal div,
.CodeMirror-simplescroll-vertical div {
  background-clip: padding-box;
}

.CodeMirror-simplescroll-vertical div {
  border-color: transparent;
  border-radius: 0;
  border-right-width: 5px;
}
