@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/monokai.css";
@import "codemirror/addon/scroll/simplescrollbars.css";

:root {
  --font-family: "Source Code Pro", monospace;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  font-family: var(--font-family);
}

/* Layout */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "htmlEditor preview"
    "cssEditor preview"
    "javascriptEditor preview";

  height: 100vh;
  width: 100vw;
}

.htmlEditor {
  grid-area: htmlEditor;
}

.cssEditor {
  grid-area: cssEditor;
}

.javascriptEditor {
  grid-area: javascriptEditor;
}

.preview {
  grid-area: preview;
}

/* Editor area */

.codeEditor {
  overflow: hidden;
}
.codeEditor + .codeEditor {
  border-top: 1px solid white;
}

.codeEditorInner {
  height: 100%;
}

/* Preview area */

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Codemirror overrides */

.cm-s-monokai.CodeMirror {
  font-family: var(--font-family);
}

.CodeMirror {
  height: 100%;
  font-size: 0.875rem;
}

.CodeMirror-simplescroll-vertical {
  width: 10px;
}

.CodeMirror-simplescroll-horizontal,
.CodeMirror-simplescroll-vertical {
  background-color: transparent;
}

.CodeMirror-simplescroll-horizontal div,
.CodeMirror-simplescroll-vertical div {
  background-clip: padding-box;
}

.CodeMirror-simplescroll-vertical div {
  border-color: transparent;
  border-radius: 0;
  border-right-width: 5px;
}
